<head><img src="https://www.creativefabrica.com/wp-content/uploads/2020/06/10/Programming-Graphics-4322278-1-1-580x410.jpg" width="300" height="180" alt="Edit Entry" /></head>
<h2> Wanna create a new project?</h2>
<p>Don't leave out any details!</p>

<%= form_for @project do |f| %>
  <%= f.label :title %><br/>
  <%= f.text_field :title %> <br/>
  <%= f.label :description %><br/>
  <%= f.text_area :description %><br/>
  <%= f.submit "Submit!" %>
<% end %>


